* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
	max-width: 1600px;
	height: 100vh;
	font-family: "Inter", sans-serif;
}

a {
	text-decoration: none;
	color: black;
}

h1 {
	font-size: 72px;
}
h2 {
	font-size: 48px;
}
h3 {
	font-size: 24px;
}

main p {
	color: #627382;
}

/* Header Section*/

.navbar {
	width: 100%;
	overflow: hidden;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 16px 120px;
	overflow: hidden;
}

.nav-items {
	display: flex;
	justify-content: space-around;
	gap: 32px;
	list-style: none;
}

.navbar > a {
	background-color: #469165;
	padding: 12px 16px;
	border-radius: 4px;
	z-index: 10;
}

.navbar .check-box, .navbar .nav-icon {
	display: none;
}


.header-bg {
	width: 100%;
	height: 674px;
	background-image: url(./assets/hero-bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	color: #ffffff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 16px;
	overflow: hidden;
}

.header-bg > div:first-child {
	background-color: #ffffff;
	padding: 8px 12px;
	border-radius: 50px;
	color: #469165;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
}

.circle-box {
	position: relative;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background-color: #469165;
	opacity: 1;
}
.circle-box > div {
	position: absolute;
	top: -3px;
	left: -3px;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background-color: #469165;
	opacity: 0.6;
}
.circle-box > div > div {
	position: absolute;
	top: -1.9px;
	left: -1.9px;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background-color: #469165;
	opacity: 0.3;
}

.header-btn{
	margin-top: 12px;
	display: flex;
	gap: 16px;
}

.header-btn a:first-child {
	background-color: #469165;
	padding: 12px 16px;
	border-radius: 4px;
	text-align: center;
	color: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 4px;
}
.header-btn a:last-child {
	border: 2px solid #ffffff;
	padding: 12px 12px;
	border-radius: 1px;
	text-align: center;
	color: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 4px;
}

/* Note Section */

.note-section {
	width: 100%;
	padding: 40px 120px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 16px;
	overflow: hidden;
}

.note-items {
	width: 100%;
	margin-top: 14px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.note-items > div {
	width: 322px;
	height: 300px;
	text-align: center;
	padding: 5px;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 16px;
	box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
}

.note-items > div > div {
	background-color:#f95555;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Second Brain Section */

.second-brain-section {
	width: 100%;
	padding: 40px 120px;
	display: flex;
	justify-content: left;
	align-items: center;
	gap: 40px;
	overflow: hidden; 
}

.second-brain-info {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.second-brain-info > ul > li {
	list-style:none;
	display: flex;
	justify-content: left;
	align-items: center;
	gap: 5px;
	line-height: 35px;
	font-size: 20px;
}

/* Early Access Section */

.early-access-section {
	width: 100%;
	padding: 40px 120Px;
}

.early-access-info {
	width: 100%;
	padding: 80px 0;
	background-color: #F7F6F2;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	gap: 16px;
}

.early-access-info > a {
	background-color: #469165;
	padding: 12px 16px;
	border-radius: 4px;
	text-align: center;
	color: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 4px;
}

/* Footer Section*/

footer {
	width: 100%;
	background-color: #001931;
	padding: 120px 120px 30px;
	color: #FAFAFA;
}

footer > p:last-child {
	text-align: center;
	margin-top: 30px;
}

.footer-containe {
	width: 100%;
	margin-bottom: 80px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.social p {
	font-size: 20px;
	margin-bottom: 18px;
}

.social a {
	margin-right: 16px;
	padding: 13.5px 9.75px 7px;
	background-color: #FAFAFA;
	border-radius: 50%;
}

@media (max-width: 576px) {
	h1 {
		font-size: 40px;
	}
	h2 {
		font-size: 28px;
	}
	h3 {
		font-size: 16px;
	}

	/* NavBar Edit */
	.navbar > .nav-items {
		width: 0;
		opacity: 0;
		position: absolute;
		transition: width 0.8s ease-in;
	}
	.navbar { 
		padding: 10px 20px;
		gap: 100px;
	}
	.navbar .nav-icon {
		display: block;
		position: absolute;
		left: 56%;
		cursor: pointer;
		user-select: none;
		border-left: 3px solid #f95555;
		border-top: 3px solid #f95555;
		border-right: 3px solid #469165;
		border-bottom: 3px solid #469165;
		border-radius: 5px;
		padding: 5px 5px 0;
	}

	.navbar > .check-box:checked ~ .nav-items {
		opacity: 1;
		position: fixed;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		right: 0;
		top: 0;
		width: 250px;
		height: 300px;
		background-color: #ffffff;
	}
	.nav-items > .nav-icon {
		position: fixed;
		top: 18px;
		left: 56%;
		background-color: #ffffff;
	}

	/* Headear-Bg Edit */
	.header-bg {
		 text-align: center;
		 padding: 0 20px;
	}

	/* Note Section */
	.note-section {
		padding: 40px 20px;
		text-align: center;
	}
	.note-items {
		flex-direction: column;
	}

	 /* Second Brain Section */
	 .second-brain-section {
		flex-direction: column;
		padding: 40px 20px;
	 }
	 .second-brain-info {
		text-align: center;
	 }
	 .second-brain-info > ul > li {
		font-size: 18px;
	 }

	 /* Early Access Section */
	 .early-access-section {
		padding: 40px 20px;
	 }

	 /* Footer Section*/
	 footer {
		padding: 20px 20px 30px;
	 }
}